/var/log/syslog
{
    rotate {{ f5base_logrotate_rotate_number | default(7) }}
    {{ f5base_logrotate_period | default('daily') }}
	missingok
	notifempty
{% if f5base_logrotate_delaycompress %}
    delaycompress
{% endif %}
    compress
{%if f5base_logrotate_gpg %}
    compresscmd /usr/bin/gpg
    compressoptions --always-trust --encrypt --recipient {{ f5base_gpg_identity }}
    compressext .gpg
{% endif %}
{% if f5base_logrotate_datenames %}
    dateext
    dateformat {{ f5base_logrotate_dateformat }}
{% endif -%}
	postrotate
		invoke-rc.d rsyslog rotate > /dev/null
{% if f5base_logrotate_postrotate_cmd %}
{% if f5base_logrotate_postrotate_cmd_isfile %}
    {{ f5base_logrotate_postrotate_cmd_file_dest }}/{{ f5base_logrotate_postrotate_cmd }} {{ f5base_logrotate_postrotate_cmd_param }}
{% else %}
    {{ f5base_logrotate_postrotate_cmd }} {{ f5base_logrotate_postrotate_cmd_param }}
{% endif %}
{% endif %}
	endscript
}

/var/log/mail.info
/var/log/mail.warn
/var/log/mail.err
/var/log/mail.log
/var/log/daemon.log
/var/log/kern.log
/var/log/auth.log
/var/log/user.log
/var/log/lpr.log
/var/log/cron.log
/var/log/debug
/var/log/messages
{
	rotate 4
	weekly
	missingok
	notifempty
	compress
	delaycompress
	sharedscripts
	postrotate
		invoke-rc.d rsyslog rotate > /dev/null
	endscript
}
