/var/log/syslog
{
    rotate {{ f5base_logrotate_rotate_number | default(7) }}
    {{ f5base_logrotate_period | default('daily') }}
    missingok
    notifempty
{% if f5base_logrotate_delaycompress %}
    delaycompress
{% endif %}
    compress
{%if f5base_logrotate_gpg %}
    compresscmd /usr/bin/gpg
    compressoptions --always-trust --encrypt --recipient {{ f5base_gpg_identity }}
    compressext .gpg
{% endif %}
{% if f5base_logrotate_datenames %}
    dateext
    dateformat {{ f5base_logrotate_dateformat }}
{% endif %}
    prerotate
{% for last_action in f5base_logrotate_actions if last_action.type == 'prerotate' %}
{% if last_action.isfile %}
      {{ last_action.file_dest }}/{{ last_action.cmd }} {{ last_action.cmd_param }}
{% else %}
      {{ last_action.cmd }} {{ last_action.cmd_param }}
{% endif %}
{% endfor %}
    endscript
    postrotate
      invoke-rc.d rsyslog rotate > /dev/null
{% for last_action in f5base_logrotate_actions if last_action.type == 'postrotate' %}
{% if last_action.isfile %}
      {{ last_action.file_dest }}/{{ last_action.cmd }} {{ last_action.cmd_param }}
{% else %}
      {{ last_action.cmd }} {{ last_action.cmd_param }}
{% endif %}
{% endfor %}
    endscript
    lastaction
{% for last_action in f5base_logrotate_actions if last_action.type == 'lastaction' %}
{% if last_action.isfile %}
      {{ last_action.file_dest }}/{{ last_action.cmd }} {{ last_action.cmd_param }}
{% else %}
      {{ last_action.cmd }} {{ last_action.cmd_param }}
{% endif %}
{% endfor %}
    endscript
}

/var/log/mail.info
/var/log/mail.warn
/var/log/mail.err
/var/log/mail.log
/var/log/daemon.log
/var/log/kern.log
/var/log/auth.log
/var/log/user.log
/var/log/lpr.log
/var/log/cron.log
/var/log/debug
/var/log/messages
{
	rotate 4
	weekly
	missingok
	notifempty
	compress
	delaycompress
	sharedscripts
	postrotate
		invoke-rc.d rsyslog rotate > /dev/null
	endscript
}
