
****************************************************
*          _              _ _     _                *
*         / \   _ __  ___(_) |__ | | ___           *
*        / _ \ | '_ \/ __| | '_ \| |/ _ \          *
*       / ___ \| | | \__ \ | |_) | |  __/          *
*      /_/   \_\_| |_|___/_|_.__/|_|\___|          *
*                                                  *
*           {{ inventory_hostname_short }}                            *
*                                                  *
*                                                  *
*   ! This server is configured with Ansible !     *
*                                                  *
*   To change configuration, modify the playbook   *
*               and re-run the play.               *
****************************************************
